<ng-template #content>
  <div class="w-full">
    <ng-content class="w-full"></ng-content>
  </div>
</ng-template>

<ng-template #oknologo>
  <button (click)="expand()" class="inline-flex w-full h-full">
    <img
      class="w-full object-contain object-center flex justify-center"
      src="okno_red.png"
      alt="OKNO"
    />
  </button>
</ng-template>

  @if (isHorizontal())
  {
    <div class="flex h-screen w-screen overflow-hidden">
    @if (isExpanded())
    {
      <aside class="w-100 block text-left shrink-0 bg-white border-r-4 border-r-pink-500 outline-white outline-4">
        <div class="flex w-60 justify-center mb-4 border-b-4 border-pink-500 pb-4 mx-4">
          <ng-container *ngTemplateOutlet="oknologo" />
        </div>
        <div class="mb-4 border-b-4 border-pink-500 pb-4 mx-4">
          <div class="block font-main font-bold pt-4">
            <button
              routerLink="/home"
              class="text-black hover:text-blue-500 text-4xl hover:text-5xl hover:cursor-pointer mb-2">
               > ГЛАВНАЯ
            </button>
            <br>
            <button
              routerLink="/submit"
              class="text-black hover:text-blue-500 text-4xl hover:text-5xl hover:cursor-pointer mb-2">
               > SUBMITНУТЬ
            </button>
            <br>
            <button
              routerLink="/submissions"
              class="text-black hover:text-blue-500 text-4xl hover:text-5xl hover:cursor-pointer mb-2">
               > САБМИТЫ
            </button>
            <br>
            <button
              routerLink="/manifest-prelude"
              class="text-black hover:text-pink-500 text-4xl hover:text-5xl hover:cursor-pointer mb-2">
               > МАНИФЕСТ
            </button>
            <br>
            <button
              routerLink="/gamejams"
              class="text-black hover:text-blue-500 text-4xl hover:text-5xl hover:cursor-pointer mb-2">
               > ДЖЕМЫ
            </button>
          </div>
        </div>
        <div class="mt-4 mx-4 text-wrap">
          @for (item of navigation; track $index) {
            <button (click)="scrollToSection(item[1])" class="text-left font-main font-bold text-black hover:text-blue-500 text-3xl hover:text-4xl hover:cursor-pointer">
              > {{item[0]}}
            </button>

            <br>
          }
        </div>
      </aside>

      <main class="flex-1 overflow-y-auto">
        <ng-container *ngTemplateOutlet="content" />
      </main>
    }
    @else
    {
      <div class="sticky top-0 z-50 block h-screen w-1/20 bg-white border-r-4 border-r-pink-500">
        <div class="w-full flex justify-center">
          <ng-container *ngTemplateOutlet="oknologo" />
        </div>
      </div>

      <div class="w-19/20">
        <ng-container *ngTemplateOutlet="content" />
      </div>
    }
    </div>
  }
  @else
  {
    <div class="min-h-screen flex flex-col">
      <main class="flex-1 pb-20">
        <ng-container *ngTemplateOutlet="content"/>
      </main>

      <nav class="fixed bottom-0 left-0 right-0 h-auto bg-white border-t flex items-center justify-around">
        @if (isExpanded())
        {
          <div class="w-full block bg-white border-t-4 border-pink-500 justify-center">
            <div class="text-center">
              <div class="block font-main font-bold pt-4 border-b-4 border-pink-500 mx-4">
                <button
                  routerLink="/home"
                  class="text-black hover:text-blue-500 text-4xl hover:text-5xl hover:cursor-pointer mb-2">
                    ГЛАВНАЯ
                  </button>
                  <br>
                <button
                  routerLink="/submit"
                  class="text-black hover:text-blue-500 text-4xl hover:text-5xl hover:cursor-pointer mb-2">
                    SUBMITНУТЬ
                </button>
                <br>
                <button
                  routerLink="/submissions"
                  class="text-black hover:text-blue-500 text-4xl hover:text-5xl hover:cursor-pointer mb-2">
                    САБМИТЫ
                </button>
                <br>
                <button
                  routerLink="/manifest-prelude"
                  class="text-black hover:text-pink-500 text-4xl hover:text-5xl hover:cursor-pointer mb-2">
                    МАНИФЕСТ
                </button>
                <br>
                <button
                  routerLink="/gamejams"
                  class="text-black hover:text-blue-500 text-4xl hover:text-5xl hover:cursor-pointer mb-2">
                    ДЖЕМЫ
                </button>
              </div>

              <div class="mt-4 mx-4">
                @for (item of navigation; track $index) {
                  <button (click)="scrollToSection(item[1])" class="font-main font-bold text-black hover:text-blue-500 text-3xl hover:text-4xl hover:cursor-pointer">
                    {{item[0]}}
                  </button>
                  <br>
                }
              </div>
            </div>

            <div class="h-30 flex justify-center">
              <ng-container *ngTemplateOutlet="oknologo" />
            </div>
          </div>
        }
        @else
        {
          <div class="w-full flex fixed bottom-0 z-50 bg-white border-t-4 border-pink-500 justify-center">
            <div class="flex w-1/6 justify-items-center">
              <ng-container *ngTemplateOutlet="oknologo" />
            </div>
          </div>
        }
      </nav>
    </div>
  }
