<app-block>
  <div class="mb-5">
    @for (content of content(); track $index) {
      <app-block>
        {{content.id}}
        <br>
        {{content.label}} {{content.author}}
        <br>
        {{content.description}}

        <br>
        <br>
        <app-button preset="full pinkalt2" (click)="delete(content.id)">delete</app-button>
      </app-block>
    }
  </div>

  @if (!creationMenuOpened) { <app-button preset="full bluealt2" (click)="openMenu()">new</app-button> }
  @else {
    <h2 class="font-main font-bold text-3xl text-center"> добавить контент </h2>
    <input
      id="community-content-label"
      type="text"
      [formControl]="label"
      [maxLength]="60"
      placeholder="название"
      class="bg-white text-blue-700 font-main text-2xl md:text-[2vw] text-center border-4 3xl:border-8 border-pink-400 focus:ring-0 focus:outline-2 focus:outline-pink-400 font-bold w-full mb-2 3xl:mb-8"
    />

    <input
      id="community-content-author"
      type="text"
      [formControl]="author"
      [maxLength]="60"
      placeholder="автор"
      class="bg-white text-blue-700 font-main text-2xl md:text-[2vw] text-center border-4 3xl:border-8 border-pink-400 focus:ring-0 focus:outline-2 focus:outline-pink-400 font-bold w-full mb-2 3xl:mb-8"
    />

    <input
      id="community-content-description"
      type="text"
      [formControl]="description"
      [maxLength]="120"
      placeholder="описание"
      class="bg-white text-blue-700 font-main text-2xl md:text-[2vw] text-center border-4 3xl:border-8 border-pink-400 focus:ring-0 focus:outline-2 focus:outline-pink-400 font-bold w-full mb-2 3xl:mb-8"
    />

    <input
      id="community-content-link"
      type="text"
      [formControl]="link"
      [maxLength]="120"
      placeholder="ссылка"
      class="bg-white text-blue-700 font-main text-2xl md:text-[2vw] text-center border-4 3xl:border-8 border-pink-400 focus:ring-0 focus:outline-2 focus:outline-pink-400 font-bold w-full mb-2 3xl:mb-8"
    />

    <div class="grid grid-cols-2 gap-x-2">
      <app-button preset = "full bluealt2 t0" (click)="post()"> <b> создать </b></app-button>
      <app-button preset = "full bluealt2 t0" (click)="closeMenu()"> <b> отмена </b></app-button>
    </div>
  }
</app-block>
