<div id="top"></div>

<div class="sticky top-0 z-10 block mt-5">
  <div class="m-0 ">
    <div class="flex">
      <app-button
        (onClick)="switchSortingType()"
        class="w-full text-center"
        preset="full bluealt2 t1"
      >
        <i class="nf {{sortText}}"></i>
      </app-button>

      @if (currentShowcaseSize != submissions.length){
        <div class="w-[90vw] md:w-[70vw] flex">
          <app-button preset="full bluealt2 t1" (onClick)="moveBackTab()" class="w-full text-center">
            <i class="nf nf-md-menu_left"></i>
          </app-button>
          <div class="bg-blue-600 px-3 font-main font-bold text-2xl text-white">
            {{this.currentTab}}/{{this.tabsCount}}
          </div>
          <app-button preset="full bluealt2 t1" (onClick)="moveNextTab()" class="w-full text-center">
            <i class="nf nf-md-menu_right"></i>
          </app-button>
        </div>
      }
    </div>

    <input
      (input)="setFilterText($event.target.value)"
      class="bg-white text-blue-700 font-main text-4xl text-center border-5 border-blue-500 focus:outline-pink-50 focus:ring-0 w-full"
      placeholder="искать..."
      type="text"
    />
  </div>
</div>

<app-block margin="">
  <app-tag-selector [includePanelOnly] ="true" (tagsChanged)="selectedTagsChanged($event)"></app-tag-selector>
</app-block>

@for (item of this.filteredSubmissions; track item.id; let i = $index) {
  @if (i >= (this.currentTab-1) * this.currentShowcaseSize &&
      i < (this.currentTab) * this.currentShowcaseSize)
  {
    <div class="w-full">
      <app-submit-card [submitInfo]="item" class="w-full items-center justify-center" />
    </div>
  }
}

<div class="center-wrap flex flex-col items-center justify-center">
  @if (currentShowcaseSize != submissions.length){
  <div class="w-[50vw] flex">
    <app-button preset="full pink" (onClick)="moveBackTab()" class="w-full text-center">
      <i class="nf nf-md-menu_left"></i>
    </app-button>
    <app-button preset="full pink" (onClick)="moveNextTab()" class="w-full text-center">
      <i class="nf nf-md-menu_right"></i>
    </app-button>
  </div>
  }

  <div>
    <b class="font-main text-2xl text-pink-200"> {{this.currentTab}}/{{this.tabsCount}} </b>
  </div>
</div>
<br />
